<img src="/img/IMG_8199.PNG" alt="" class="home-image">
<div class="container-home">
    <div class="post">
      <% if (presentation) { %>
        <p class="Presentation"><%- presentation[0].text %></p>
      <% } %>
    </div>
  
    <div class="post-list">
      <% if (posts.length > 0) { %>
        <% posts.forEach(post => { %>
          <div class="post">
            <% if (post.text === '') { %>
              <div class="post-content">
                <div class="iframe-content">
                  <%- post.htmlImage %>
                </div>
              </div>
              <p class="date"><strong>Skapad:</strong> <%= post.createdAt.toLocaleDateString() %> <%= post.createdAt.toLocaleTimeString() %></p>
              <% if (post.updatedAt && post.updatedAt.getTime() !== post.createdAt.getTime()) { %>
                <p class="date"><strong>Uppdaterad:</strong> <%= post.updatedAt.toLocaleDateString() %> <%= post.updatedAt.toLocaleTimeString() %></p>
              <% } %>
              <p class="creator"><strong>Författare:</strong> <%= post.creator %></p>
  
            <% } else { %>
            <div class="post-content">
              <div class="text-content">
                <pre><p><%- post.text %></p></pre>
              </div>
              <div class="iframe-content">
                <%- post.htmlImage %>
              </div>
            </div>
            <p class="date"><strong>Skapad:</strong> <%= post.createdAt.toLocaleDateString() %> <%= post.createdAt.toLocaleTimeString() %></p>
            <% if (post.updatedAt && post.updatedAt.getTime() !== post.createdAt.getTime()) { %>
              <p class="date"><strong>Uppdaterad:</strong> <%= post.updatedAt.toLocaleDateString() %> <%= post.updatedAt.toLocaleTimeString() %></p>
            <% } %>
            <p class="creator"><strong>Författare:</strong> <%= post.creator %></p>
            <% } %>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>

  <%- include('../contact/contact') %>