<header>
  <nav class="navbar">
    <% if (type === 'home') { %>
    <a class="navbar-brand" href="/"><img src="<%= logo %>" alt="" height="60"></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Hem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/straight-up">Straight up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/the-cutting-edge">The Cutting edge</a>
        </li>
      </ul>
    </div>
    <% } else if (type === 'admin') { %>
      <a class="navbar-brand" href="/contacts"> Admin</a>
      <div class="collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Podcasts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Kontakt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Uppdatera webbsidan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admins">se och hantera alla admins</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Lägg till admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logga ut</a>
          </li>
        </ul>
      </div>
    <% }  else { %>
      <a class="navbar-brand" href="/<%= type %>"> <img src="<%= logo %>" alt="" class="<%= type %>"></a>
      <div class="collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/<%= type %>">Hem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= type %>/avsnitt">Avsnitt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">BDTS media</a>
          </li>
        </ul>
      </div>
      <% }  %>
  </nav>
</header>