<div class="contact-list">
    <h1>Contact List</h1>
    <% if (contacts.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Mail</th>
                    <th>Kontaktorsak</th>
                    <th>Meddelande</th>
                    <th>Skickat mail till:</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% contacts.forEach(contact => { %>
                    <tr>
                        <td><%= contact.firstName %></td>
                        <td><%= contact.email %></td>
                        <td><%= contact.contactType %></td>
                        <td><%= contact.message %></td>
                        <td><%= contact.recipientEmail %></td>
                        <td>
                            <form action="/admin/contacts/<%= contact._id %>" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No contacts available.</p>
    <% } %>
</div>
