<div class="post-list">
    <h1>Post List</h1>
    <% if (posts.length > 0) { %>
        <% posts.forEach(post => { %>
            <div class="post">
                <h2><%= post.header %></h2>
                <p><strong>Creator:</strong> <%= post.creator %></p>
                <p><strong>Text:</strong> <%= post.text %></p>
                <form action="/admin/posts/<%= post._id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
                <form action="/admin/posts/<%= post._id %>/edit" method="GET">
                    <button type="submit">Update</button>
                </form>
            </div>
        <% }) %>
    <% } else { %>
        <p>No posts available</p>
    <% } %>
</div>
